<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("c192ac9c-642a-4c0a-b80f-4edf32716da0");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
